.add-category {
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 2rem;
}

.add-category input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}
.add-category input:focus {
  outline: #0D8BBD solid 2px;
}